*.o
*.log
*.swp
.git-credentials
ast-reader/reader
*.bak
old.vim.config.backup*
nginx/CHANGES
nginx/CHANGES.ru
nginx/LICENSE
nginx/Makefile
nginx/README
nginx/auto/
nginx/conf/
nginx/configure
nginx/contrib/
nginx/dependency/pcre-8.32/
nginx/dependency/zlib-1.2.11/
nginx/html/
nginx/man/
nginx/nginx/
nginx/objs/
nginx/src/
